@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold.eot");
    src: url("../fonts/RobotoBold.eot") format("embedded-opentype"),
         url("../fonts/RobotoBold.woff2") format("woff2"),
         url("../fonts/RobotoBold.woff") format("woff"),
         url("../fonts/RobotoBold.ttf") format("truetype"),
         url("../fonts/RobotoBold.svg#RobotoBold") format("svg");
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium.eot") format("embedded-opentype"),
         url("../fonts/RobotoMedium.woff2") format("woff2"),
         url("../fonts/RobotoMedium.woff") format("woff"),
         url("../fonts/RobotoMedium.ttf") format("truetype"),
         url("../fonts/RobotoMedium.svg#RobotoMedium") format("svg");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular.eot") format("embedded-opentype"),
         url("../fonts/RobotoRegular.woff2") format("woff2"),
         url("../fonts/RobotoRegular.woff") format("woff"),
         url("../fonts/RobotoRegular.ttf") format("truetype"),
         url("../fonts/RobotoRegular.svg#RobotoRegular") format("svg");
}

body{
	position: relative;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	font-family: "RobotoRegular", "Arial", sans-serif;
	margin: 0;
	color: #fff;
	min-width: 1200px;
	background-color: #849d8f;
}

body>input[type="radio"]{display: none;}

.wrapper{
	min-width: 940px;
	background-color: #849d8f;
	background-image: url(../img/icecream_gallery_1.png); 
	background-repeat:  no-repeat;
	background-position: top center;
	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.wrapper:before,
.wrapper:after{
  content: "";
  visibility: hidden;
}

.wrapper:before{background-image: url(../img/icecream_gallery_2.png);}

.wrapper:after{background-image: url(../img/icecream_gallery_3.png);}

.wrapper-catalog{
	min-width: 940px;
	background-color: #849d8f;
}

.container{
	width: 1146px; 
	padding: 0px 27px;
	margin: 0 auto;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
/*==========HEADER=========*/
.main-header{position: relative;}

.logo{
	float: left;
	margin-right: 16px;
	margin-top: 9px;
	margin-left: -5px;
}
.main-navigation{
	float: left;
	width: 550px;
}

.main-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 24px;
}

.main-navigation li{
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	padding-bottom: 5px;
}

.main-navigation-item{
	color: #fff;
	line-height: 18px;
	font-family: "RobotoBold", "Arial", sans-serif;
	display: block;
	padding: 7px 13px 7px 14px;
	text-decoration: underline;
}

.main-navigation-item::after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	color: rgba(255,255,255,0.2);
}

.main-navigation-item:hover{
	background-color: #f7f6f3;
	color: #323232;
	border-radius: 16px;
	text-decoration: none;
}

.main-navigation-item:active{
	background-color: #f7f6f3;
	color: #323232;
	border-radius: 16px;
	box-shadow: inset 0px 2px 2px  0px #696969;
	text-decoration: none;
}

.navigation-list{min-height: 50px;}

.active-list{
	color: #fff;
	background-color: #d07058;
	border-radius: 16px;
	text-decoration: none;
}

.navigation-list:hover .drop{
	display: block;
	margin: 0;
}

.drop{
	display: none;
	position: absolute;
	z-index: 5;
	width: 143px;
	background-color: #f8f7f4;
	top: 37px;
	left: -6px;
	border-radius: 6px;
	box-shadow: -2px 11px 20px 0px rgba(0,0,0,0.65);
}

.drop li{
	width: 100%;
	padding: 0;
}

.droplist{
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	padding: 8px 2px 8px 20px;
	text-decoration: none;
}

.navigation-list:hover .droplist:hover{
	border-radius: 0;
	background-color: #fbded7;
}

.navigation-list:active .droplist:active{
	border-radius: 0;
	background-color: #f6b5a5;
	box-shadow: none;
}

.navigation-list .droplist:visited{
	border-radius: 0;
	color: #323232;
	background-color: #d07058;
}

.navigation-list:hover .novelty{
	font-weight: 700;
	padding: 10px 0px 14px 19px;
	margin: 0px;
}

.navigation-list .novelty::after{
	display: block;
	position: absolute;
	top: 38px;
	left: 6px;
	content: "";
	width: 128px;
	height: 1px;
	background-color: rgba(53,53,53,0.2);
}

.navigation-list:hover .novelty:hover{
	border-radius: 6px 6px 0px 0px;
}

.navigation-list:hover .last:hover{
	border-radius: 0px 0px 6px 6px;
}

.navigation-list:hover .droplist-active{
	background-color: #d07058;
}

.user-block{
	float: right;
	position: relative;
	width: 270px;
	margin-top: 23px;
	font-size: 0;
}

.search-block{
	display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
}

.search-block:hover .office-search-form{display: block;}

.search, .login, .bucket{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 16px;
	font-family: "RobotoMedium", "Arial", sans-serif;
	color: #fff; 
	text-decoration: none;
}

.search{	
	width: 33px;
	height: 33px;
	background: rgba(255,255,255,0.35) url(../img/search.png) no-repeat 50% 50%;
	border-radius: 50%;
	margin-left: 8px;
	margin-right: 11px;	
}

.search:hover{
	background: #f8f7f4 url(../img/hover_search.png) no-repeat 50% 50%;
}

.office-search-form{
	display: none;
	position: absolute;
	z-index: 5;
	top: 37px;
	right: 228px;
	width: 311px;
	padding: 20px 15px;
	background-color: #f8f7f4;
	border-radius: 6px;
	box-shadow: -2px 11px 20px 0px rgba(0,0,0,0.65);
}

form{
	position: relative;
}

input{
	display: block;
	box-sizing: border-box;
	outline: none;
	padding: 8px 14px 9px 14px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #323232;
}

.position-box{
	position: relative;
}

.search-input{width: 311px;}

.search-input:hover{
	box-shadow: inset 0px 0px 2px 1px #c7c6c5;		
}

.search-input:focus{
	box-shadow: inset 0px 0px 2px 1px #5b9ddf;
}

.search-input:focus ~ .search-label{
	top:-14px;
	font-size: 11px;
	line-height: 13px;
	color: #5b9ddf;
}

.search-input:valid ~ .search-label{
	top:-14px;
	font-size: 11px;
	line-height: 13px;
}

.label, .delivery-label{
	color:#999; 
	font-size:14px;
	font-weight:normal;
	position:absolute;
	left: 14px;
	top: 9px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

.login-block{
	display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
}

.login-block:hover .office-login-form{display: block;}

.login{
	padding: 7px 16px 8px 43px;
	background: rgba(255,255,255,0.35) url(../img/entrance.png) no-repeat 21% 53%;
	border-radius: 16px;
	margin-right: 9px;
}

.login:hover{
	color: #323232;
	background: #f8f7f4 url(../img/entrance_hover.png) no-repeat 21% 53%;
}

.office-login-form{
	display: none;
	position: absolute;
	z-index: 4;
	top: 37px;
	right: 124px;
	width: 241px;
	padding: 20px 17px 23px 19px;
	background-color: #f8f7f4;
	border-radius: 4px;
	box-shadow: -1px 11px 20px 0px rgba(0,0,0,0.65);
}

.email-label{
	top: 10px;
}

.email-input, .password-input{
	width: 241px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.email-input:hover, .password-input:hover{
	box-shadow: inset 0px 0px 2px 1px #c7c6c5;	
}

.email-input:focus, .password-input:focus{
	box-shadow: inset 0px 0px 2px 1px #5b9ddf;
}

.email-input:focus ~ .email-label{
	top: -14px;
	font-size:11px;
	line-height: 13px;
	color: #5b9ddf;
}

.email-input:valid ~ .email-label{
	top: -14px;
	font-size: 11px;
	line-height: 13px;
}

.password-label{top: 10px;}

.password-input:focus ~ .password-label{
	color: #5b9ddf;
	top: -20px;
	font-size: 11px;
}

.password-input:valid ~ .password-label{
	top: -20px;
	font-size: 11px;
}

.btn{
	display: inline-block;
	vertical-align: top;
	background: -webkit-linear-gradient(bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    padding: 10px 25px;
    font-size: 18px;
    line-height: 24px;
    font-family: "RobotoBold", "Arial", sans-serif;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    box-shadow: 0px 3px 2px 0px #ac1000;
}

.btn:hover{
	background: #f07a63;
}

.btn:active{
	background: -webkit-linear-gradient(top, rgb(231,74, 53) 0%, rgb(242,104,67) 100%);
	background: linear-gradient(to bottom, rgb(231,74, 53) 0%, rgb(242,104,67) 100%);
}

.office-login-form a{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}

.forgot-password{
	bottom: 44px;
	right: 37px;
}

.new-regestration{
	bottom: 23px;
	right: 18px;
}

.forgot-password:hover, .new-regestration:hover,
.forgot-password:active, .new-regestration:active{
	color: #e84d37;
}

.bucket-block{
	display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
}

.bucket{
	padding: 7px 34px 8px 43px; 
	background: rgba(255,255,255,0.35) url(../img/bucket.png) no-repeat 18% 58%;
	border-radius: 16px;
}

.full-bucket{
	padding: 7px 16px 8px 43px; 
	background: #f7f6f3 url(../img/bucket_full.png) no-repeat 18% 58%;
	border-radius: 16px;
	color: #323232;
	font-weight: bold;
}

.bucket-block:hover .bucket-checkout{
	display: block;
}

.bucket-checkout{
	display: none;
	position: absolute;
	top: 37px;
	right: 0px;
	width: 510px;
	padding: 20px 15px;
	z-index: 6;
	background-color: #f8f7f4;
	border-radius: 4px;
	box-shadow: -1px 11px 20px 0px rgba(0,0,0,0.65);
}

.goods{
	border-collapse: collapse;
	border-bottom: 1px solid #cacac7;
	margin-bottom: 23px;
}

td{
	font-size: 13px;
	line-height: 16px;
	color: #323232;
	padding: 0px;
	vertical-align: top;
}

.close-btn{padding: 0px;}

.cancel{
	position: absolute;
	outline: none;
	top: 27px;
    left: 17px;
    width: 10px;
    height: 11px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.cancel2{
	top: 81px;
	left: 17px;
}

.cancel::before, .cancel::after{
	content: "";
    position: absolute;
    top: 7px;
    left: -1px;
    width: 13px;
    height: 1px;
    background-color: #676766;
    border-radius: 1px;
}

.cancel::before {-webkit-transform: rotate(45deg);transform: rotate(45deg);}

.cancel::after{-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}

.item-icon img{
	display: block;
	padding: 0px 12px 20px 26px;
}

.item-name{
	padding: 8px 8px 16px 0px; 
	width: 232px;
}

.item-weight{
	padding: 8px 0px 0px 7px;
}

.item-price{
	padding: 8px 14px 0px 0px;
	color: #999;
}

.total{
	padding: 8px 16px 0px 13px;
}

.checkout{
	float: right;
	font-size: 0;
    margin-bottom: 2px;
}

.checkout-price{
	font-size: 15px;
	line-height: 18px;
	color: #333;
	display: inline-block;
	position: absolute;
	bottom: 77px;
	right: 13px;
}

.checkout-btn{
	box-shadow: 0px 2px 2px 0px #ac1000;
    margin-top: 23px;
    padding: 9px 11px 9px 11px;
}

.main-header-contact{
	position: absolute;
	right: 50%;
	margin-right: -573px;
	top: 72px;
	text-align: right;
	font-family: "RobotoBold", "Arial", sans-serif;
}

.main-header-contact p{
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	margin-bottom: 5px;
}

.contact-info{
	font-size: 22px;
	line-height: 24px;
}

.info{margin-bottom: 10px;}
/*=========HEADER END=========*/

/*=========Index Gllacy=========*/
.slider{
	position: relative;
	padding-top: 270px;
  	text-align: center;
  	color: #ffffff;
  	padding-bottom: 38px;
}

.slide{
	display: none;
}

.slide-title{
	width: 700px;
  	margin: 0 auto;
  	margin-bottom: 32px;
  	font-size: 60px;
  	line-height: 60.35px;
  	font-family: "RobotoBold", "Arial", sans-serif;
  	padding: 41px 9px 0px 13px;
}

.slide-btn{
	display: inline-block;
	padding: 8px 37px 12px 40px;
	font-size: 32px;
	line-height: 44px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	border-radius: 30px;
	margin-bottom: 4px;
}

.slider-controls{
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 10;
  font-size: 0;
}

.slider-controls label{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.controls:hover{
	background-color: rgba(255,255,255, 0.6); 
}

.btn-1:checked ~ .wrapper .slide1,
.btn-2:checked ~ .wrapper .slide2,
.btn-3:checked ~ .wrapper .slide3 {
  display: block;
}

.btn-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url(../img/icecream_gallery_1.png);
}

.btn-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url(../img/icecream_gallery_2.png);
}

.btn-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url(../img/icecream_gallery_3.png);
}

.btn-1:checked ~ .wrapper .controls[for="btn-1"],
.btn-2:checked ~ .wrapper .controls[for="btn-2"],
.btn-3:checked ~ .wrapper .controls[for="btn-3"] {
  background-color: #ffffff;
}

.special-offer-item{
	width: 519px;
	padding: 13px 22px 15px 19px;
	margin-bottom: 40px;
	float: left;
	margin-right: 26px;
	border-radius: 13px;
}

.special-offer-item:nth-child(2n){margin-right: 0px;}

.special-offer-headline{
	font-weight: 600;
	font-size: 35px;
	line-height: 41px;
	font-family: "RobotoBold", "Arial", sans-serif;
	margin: 0;
	margin-bottom: 16px;
	color: #fff;
}

.special-offer-item p{
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	margin-bottom: 44px;
	font-family: "RobotoBold", "Arial", sans-serif;
}

.strawberry-item{
	position: relative;
	background: #7b1d39 url(../img/raspberry_background.jpg) no-repeat;
}

.chocolate-item{
	background: #2c1206 url(../img/chocolate_background.jpg) no-repeat;
}

.strawberry-item .btn, .chocolate-item .btn{
	float: right;
	margin: 0px 0px 9px 0px;
	padding: 10px 20px 12px 21px;
}

.main-shop-info, .shop-news {margin-bottom: 40px;}

.bestseller{margin-bottom: 38px;}

.bestseller-item{
	float: left;	
	width: 267px;
	margin-right: 26px;
}

.catalog-item{
	position: relative;
	float: left;	
	width: 267px;
	margin-right: 26px;
	z-index: 1;	
}

.catalog-item:hover{z-index: 2;}

.catalog-item:hover .icecream-item{text-decoration: none;}

.catalog-item:hover::before{
	position: absolute;
	content: '';
	width: 293px;
	height: 125%;
	display: block;
	border-radius: 5px;
	background-color: rgba(248, 247, 244, 0.3); 
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
	top: -6px;
	left: -14px;
	z-index: 3;	
}

.catalog-item>.btn{
	display: none;
	position: absolute;
	bottom: -53px;
    left: 32px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    padding: 10px 11px 10px 14px;
}

.catalog-item:hover .btn{
	display: block;
	z-index: 4;
}

.bestseller-item:last-child, .catalog-item:last-child{
	margin-right: 0px;
}

.icecream-item{
	display: inline-block;
	text-align: center;
	font-weight: 400;
	padding: 7px 4px 0px 9px;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	font-family: "RobotoMedium", "Arial", sans-serif;
	text-decoration: underline;
}

.bestseller-item .icecream-item:hover{
	color: #ffbc9e;
}

.catalog-item:hover .item-position{z-index: 5;} 

.item-position{
	position: relative;
	z-index: 4;
}

.icecream-position::before{
	position: absolute;
	content: '';
	width: 61px;
	height: 61px;
	display: block;
	background: url(../img/bestseller.png) no-repeat;
	top: 0px;
}

.icecream-price{
	position: absolute;
    bottom: 18px;
    left: 1px;
    font-family: "RobotoBold", "Arial", sans-serif;
}

.price{
	font-size: 45px;
    line-height: 45px;
}

.icecream-price img{
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	bottom: 4px;
	left: 80px;
}

.kg{
	position: absolute;
	top: 5px;
	right: -77px;
	font-size: 30px;
	line-height: 45px;
}

.main-shop-info{
	background: url(../img/waffle.jpg);
	border-radius: 15px; 
	font-size: 0;
	padding: 24px 19px 17px 21px;
}

.index-headline {
	font-size: 24px;
	line-height: 30px;
	font-family: "RobotoMedium", "Arial", sans-serif;
	font-weight: 400;
 	color: #323232;
 	margin: 0;
 	padding-bottom: 10px;
}

.advantages{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 483px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	margin-right: 26px;
	padding-bottom: 8px;
	padding-left: 57px;
	padding-top: 13px;
	font-family: "RobotoRegular", "Arial", sans-serif;
}

.advantages:nth-child(odd){margin-right: 0px;}

.advantages-icon-icecream{
	background: url(../img/icecream_icon.png) no-repeat 0% 0%;
}

.advantages-icon-cow{
	background: url(../img/cow.png) no-repeat 0% 0%;
}

.advantages-icon-leaf{
	background: url(../img/leaf.png) no-repeat 0% 0%;
}

.advantages-icon-thermometer{
	background: url(../img/thermometer.png) no-repeat 0% 0%;
}

.news{
	width: 548px;
	border-radius: 16px;
}

.blog{
	float: left;
	background: #fff url(../img/strawberry_background.jpg) no-repeat;
	padding: 23px 20px 24px 21px;
	width: 560px;
	box-sizing: border-box;
	min-height: 220px;
	font-family: "RobotoMedium", "Arial", sans-serif;
}

.news-headline {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	margin: 0px 0px 4px 0px;
}

.blog a{
	display: inline-block;
	font-size: 24px;
	line-height: 30px;
	font-family: "RobotoBold", "Arial", sans-serif;
	color: #323232;
	text-decoration: underline;
	max-width: 300px;
}

.blog a:hover{
	color: #f10c02;
}

.delivery{
	float: right;
	background: #f8f7f4 url(../img/post_background.png);
	padding: 5px;
}

.delivery-info{
	background-color: #f8f7f4;
	border-radius: 16px;
	padding: 29px 19px 36px 20px;
}

.delivery-info p{
	margin: 0px;
	padding-bottom: 35px;
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
}

.delivery-form .delivery-input{
	float: left;
	width: 368px;
	padding: 9px 14px 9px 14px;
	font-size: 16px;
	line-height: 24px;
	margin: 0px;
}

.delivery-label{
	left: 14px;
	top: 12px;
}

.delivery-input:hover{
	box-shadow: inset 0px 0px 2px 1px #c7c6c5;
}

.delivery-input:focus{
	box-shadow: inset 0px 0px 2px 1px #5b9ddf;
}

.delivery-input:focus ~ .delivery-label{
	top: -22px;
	font-size: 11px;
	color: #8fbdec;
}

.delivery-input:valid ~ .delivery-label{
	top:-22px;
	font-size: 11px;
}

.delivery-form .btn{
	float: right;
	padding: 10px 19px;
}

.map{position: relative;}

.map-canvas{
	width: 100%;
	height: 430px;
}

.main-contacts{
	position: absolute;
	width: 252px;
	border-radius: 16px;
	top: 60px;
	right: 50%;
	margin-right: -573px;
	background-color: #fffefd;
	padding: 30px 25px 31px 25px;
}

.main-contacts p{
	margin: 0px 0px 3px 0px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
}

.main-contacts span{
	display: inline-block;
	padding-bottom: 17px;
	font-size: 18px;
	line-height: 24px;
	color: #323232;
	font-family: "RobotoBold", "Arial", sans-serif;
}

.main-contacts  .phone{
	padding-bottom: 2px;
}

.feedback{
	margin-top: 21px;
	padding: 10px 27px 10px 28px;
}

/*MODAL WINDOW*/
@-webkit-keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-content{
	display: none;
	position: absolute;
	z-index: 11;
	top: 14%;
	left: 50.2%;
	width: 428px;
	padding: 15px 24px;
	padding-bottom: 28px;
	margin-left: -239px;
	background-color: #f8f7f4;
	color: #323232; 
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
	border-radius: 12px;
}

.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.content-close{
	position: absolute;
	outline: none;
	top: 15px;
	right: 15px;
	width: 18px;
	height: 17px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.content-close::before,
.content-close::after {
	content: "";
	position: absolute;
	top: 7px;
	left: -1px;
	width: 21px;
	height: 2px;
	background-color: #000;
	border-radius: 1px;
}

.content-close::before {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.content-close::after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.modal-content span{
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	line-height: 28px;
	padding-bottom: 19px;
}

.name-input, .popup-input{
	width: 266px;
	margin-bottom: 20px;
	padding: 9px 14px;
}

.name-label{
	font-size: 16px;
	left: 13px;
	top: 12px;
}

.name-input:hover, .popup-input:hover, .content-textarea:hover{
	box-shadow: inset 0px 0px 2px 1px #c7c6c5;	
}

.name-input:focus, .popup-input:focus{
	box-shadow: inset 0px 0px 2px 1px #5b9ddf;
}

.name-input:focus ~ .name-label{
	top: -22px;
	font-size: 14px;
	color: #5b9ddf;
}

.name-input:valid ~ .name-label{
	top: -22px;
	font-size: 14px;
}

.popup-label{
	font-size: 16px;
	top: 12px;
}

.popup-input:focus ~ .popup-label{
	top: -20px;
	font-size: 14px;
	color: #5b9ddf;
}

.popup-input:valid ~ .popup-label{
	top: -20px;
	font-size: 14px;
}

.content-textarea{
	width: 100%;
	box-sizing: border-box;
	padding: 17px;
	padding-right: 16px;
	border: 1px solid #c7c6c5;
	border-radius: 5px;
	font-size: 16px;
	line-height: 24px;
	color: #323232;
	font-weight: bold;
	margin-bottom: 19px;
}

.content-textarea:focus{
	box-shadow: inset 0px 0px 2px 0px #5b9ddf;
	border-radius: 5px;
}

.textarea-label{
	top: 10px;
	font-size: 16px;
}

.content-textarea:focus ~ .textarea-label{
	top: -20px;
	font-size: 14px;
	color: #5b9ddf;
}

.content-textarea:valid ~ .textarea-label{
	top: -20px;
	font-size: 14px;
}

.modal-btn{
	float: right;
	padding: 10px 23px;
}

.modal-overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal-overlay-show{
	display: block;
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
}
/*MODAL WINDOW END*/

/*=========Index Gllacy End=========*/

/*=========Catalog Gllacy=========*/
.info{
	margin-bottom: 10px;
}

.breadcrumbs{
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 2px;
	font-size: 0;
}

.breadcrumbs-item{
	position: relative;
	float: left;
	font-size: 14px;
	line-height: 16px;
	color: rgba(255,255,255, 0.9);
	text-decoration: underline;
	font-weight: 400;
	padding-right: 21px;
}

.breadcrumbs-item::after{
	content: "";
	position: absolute;
	top: 6px;
	left: 66px;
	width: 7px;
	height: 6px;
	background: transparent url(../img/arrow.png) no-repeat;
	margin-left: -7px;
}

.breadcrumbs-item:last-child, .breadcrumbs-item:hover{text-decoration: none;}

.breadcrumbs-item:last-child::after{display: none;}

.choice-zone{
	width: 1146px;
}
.catalog-headline {
	font-size: 35px;
	line-height: 41px;
	color: #fff;
	margin: 0px;
	margin-bottom: 21px;
}

.ice-cream-selection{
	padding-right: 20px;
	margin-bottom: 30px;
}

.filter-box{
	margin-bottom: 9px;
}

.sorting-part{
	float: left;
	margin: 0px;
	margin-right: 15px;
	padding: 0px;
	border: none;
	outline: none;	
}

.sorting-part-item{
	border-radius: 30px;
	background: rgba(255,255,255,0.2);
}

.sorting-part legend{
	font-size: 14px;
	line-height: 16px;
	padding: 7px 0px 6px 17px;
	font-weight: 400;
	font-family: "RobotoMedium", "Arial", sans-serif;
}

.sorting-part option{outline: none;}

.sorting{
	position: relative;
	width: 192px;
}

.sorting-select{
	width: 192px;	
	background: transparent url(../img/marker.png) 93% 48% no-repeat;
	color: #fff;
	font-weight: bold;	
	border-radius: 30px;
	padding: 8px 17px;
	font-size: 16px;
	line-height: 18px;
	font-family: "RobotoMedium", "Arial", sans-serif;
	border: none;
	outline: none;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	text-indent: 0.01px; 
  	text-overflow: '';
}

.sorting-select:hover{
	background: #fff url(../img/marker_hover.png) 93% 48% no-repeat;
	color: #323232;
	
}

.range{
	position: relative;
	width: 222px;
	padding:  18px 0px 18px 0px;
}

.scale, .bar{
	position: absolute;
	top: 16px;
	left: 18px;
	width: 188px;
	height: 3px;
	background: rgba(255,255,255, 0.5);
}

.bar{
	width: 108px;
	top: 0px;
	left: 22px;
	background: rgba(255,255,255,1);
}

.toggle{
	position: absolute;
	top: 8px;
	left: 0px;
	width: 21px;
	height: 21px;
	background: #f8f7f4;
	border-radius: 50%;
}

.toggle:hover{
	cursor: pointer;
	width: 23px;
	height: 23px;
}

.toggle-min{left: 37px;}

.toggle-max{left: 134px;}

.fatness{
	width: 415px; 
	padding:  7px 0px 7px 0px;
	margin-right: 5px;
	font-size: 0;
}

.radio-input, .checkbox-input{
	display: none;
}

.radio-label, .checkbox-label{
	position: relative;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	padding-left: 45px;	
	margin-right: 5px;
	font-size: 16px;
}

.radio-label:last-of-type, .checkbox-label:last-of-type{
	margin-right: 0px;
}

.radio-label::before, .checkbox-label::before{
	position: absolute;
    content: "";
    display: inline-block;
    width: 20px;
	height: 20px;
    margin-right: 0px;
    top: 0px;
    left: 15px;
	background: url(../img/radio-sprite.png) no-repeat;
}

.radio-label:hover::before{
	background-position: 0px -20px;
}

.radio-input:checked + .radio-label::before{
	background-position: -20px 0px;
}

.radio-input:checked + .radio-label:hover::before{
	background-position: -20px -20px;
}

.radio-input:disabled + .radio-label::before{
	opacity: 0.4;
}

.fillers{
	width: 702px;
	padding:  7px 0px 7px 0px;
}

.checkbox-label::before{
	background: url(../img/checkbox-sprite.png) no-repeat;
}

.checkbox-input:checked + .checkbox-label::before{
	background-position: -20px -0px;
}

.checkbox-label:hover::before{
	background-position: 0px -20px;
}

.checkbox-input:checked + .checkbox-label:hover::before{
	background-position: -20px -20px;
}

.checkbox-input:disabled + .checkbox-label::before{
	opacity: 0.4;
}

.apply{
	width: 142px;
	float: left;
	background-color: transparent;
    border: 2px solid #f5f7f6;
    color: #fff;
    margin-top: 29px;
    padding: 5px 0px;
    border-radius: 30px;
    outline: none;
}

.apply:hover{
	background-color: #fbfcfb;
	color: #323232;
}

.apply:active{
	background-color: #eaeaea;
	box-shadow: inset 0px 2px 2px 0px #696969;
	border: none;
	padding: 7px 0px;	
}

.paginator{
	float: right;
	width: 190px;
	margin-top: 46px;
	margin-bottom: 30px;
	font-size: 0;	
}

.page{	
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	text-decoration: none;
	height: 26px;
	min-width: 16px;
	padding: 0px 5px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 16px;
	line-height: 26px;
	margin-right: 3px;
}

.page:hover{
	background-color: #9db1a5;
}

.page:active{
	background-color: #fff;
	color: #353535;
}

.page:last-child{margin-right: 0px;}

.page:nth-child(6n){margin-right: 0px;}

.disabled{opacity: 0.2;}

.current{
	background-color: #fff;
	color: #353535;
}

.paginator .prev{
	margin-right: 15px;
	min-width: 9px;
	padding: 0px;
	background-image: url(../img/arrow-next.png);
	background-repeat: no-repeat;
	background-position: 0px 6px;
	-webkit-transform: rotate(-180deg);
	        transform: rotate(-180deg);
}

.paginator .next{
	margin-left: 15px;
	min-width: 9px;
	padding: 0px;
	background-image: url(../img/arrow-next.png);
	background-repeat: no-repeat;
	background-position: 0px 6px;
}

.prev , .next:hover{background-color: transparent;}
/*=========Catalog Gllacy End=========*/

/*=========FOOTER=========*/
.main-footer{
	padding: 0px 27px;
	padding-top: 18px;
	padding-bottom: 25px;
}

.footer-social{
	float: left;
	width: 267px;
	margin-right: 26px;
	margin-left: 2px;
	padding-top: 14px;
}

.social-btn{
	display: inline-block;
	background: url(../img/social.png) no-repeat;
    font-size: 0;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border: 3px solid rgba(255,255,255,0.5);
    margin-right: 7px;
    opacity: 0.8;
}

.social-btn:hover{opacity: 1;}

.social-btn:active{
	opacity: 0.8;
	box-shadow: inset 0px 2px 2px 0px #888; 
}

.social-btn-inst{
	background-position: -35px 0px;
}

.social-btn-fb{
	background-position: -70px 0px;
}

.social-btn-vk{
	background-position: -105px 0px;
}

.footer-info{
	float: left;
	width: 363px;
	padding-left: 106px;
	padding-right: 91px;
	padding-top: 14px;
}
.footer-info .providers{
	background: url(../img/heart.png) no-repeat 0% 50%;
	font-family: "RobotoBold", "Arial", sans-serif;
}

.footer-info a{
	display: inline-block;
	vertical-align: top;
	min-width: 111px;
	padding: 0px 0px 0px 22px;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	text-decoration: none;
}
.footer-info a:hover{color: #ffbc9e;}

.footer-info a:nth-child(odd){
	margin-right: 6px;
}

.copyright{
	float: right;
	width: 267px;
}

.copyright-logo{
	display: block;
	width: 108px;
	height: 38px;
	margin: 0 auto;
}

.copyright-text {
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
	padding-left: 77px;	
}

.copyright .academy{
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
}

.copyright .academy:hover{
	color: #ffbc9e;
}
/*=========FOOTER END=========*/